/*******************
My Css file
*******************/

body {
    font-family: 'Open Sans', Sans-Serif;
}

a {
    text-decoration: none;
    color: #ff0097;
}


/* main contents css*/

#wrapper {
    max-width: 940px;
    margin: 0 auto;
    padding: 0 5%;
}

img {
    max-width: 100%;
}


/*******************
heading
*******************/


/* my logo color*/

#Logo {
    text-align: center;
    margin: 0;
}


/* my header color*/

header {
    background: #c80aee;
    border-color: #e671b8;
    float: left;
    margin: 0 0 30px 0;
    padding: 5px 0 0 0;
    width: 100%;
}

h1 {
    margin: 15px 0;
    font-size: 1.75em;
    font-weight: normal;
    font-family: 'Do Hyeon', Sans-Serif;
    line-height: 0.8em;
}

h2 {
    font-size: 0.75em;
    margin: -5px 0 0;
    font-weight: normal;
}

h3 {
    margin: 0 0 1em 0;
}

h1,
h2 {
    color: #fff;
}


/*******************
Portfolio
*******************/

#gallery {
    margin 0px;
    padding: 0px;
    list-style: none;
}

#gallery li {
    float: left;
    width: 45%;
    margin: 2.5%;
    background-color: #f5f5f5;
    color: #ff0097;
}

#gallery li a p {
    margin: 0;
    padding: 5%;
    font-size: 0.75em;
    color: #ff0097;
}


/*******************
Page: Contact
*******************/

.Details {
    list-style: none;
    padding: 0;
    margin: 5px 0;
    font-size: 1em;
}

.Details a {
    display: block;
    min-height: 20px;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    padding: 0 0 0 30px;
    margin: 0 0 10px;
}

.Details li.phone a {
    background-image: url('../img/phone.png')
}

.Details li.facebook a {
    background-image: url('../img/facebook.png')
}

.Details li.mail a {
    background-image: url('../img/mail.png')
}


/*******************
Navigations

*******************/

nav {
    text-align: center;
    padding: 10px 0;
    margin: 20px 0 0;
}


/* nav on mobile body color*/

nav {
    background: #e671b8;
}

nav ul {
    list-style: none;
    margin: 0 10px;
    padding: 0;
}

nav li {
    display: inline-block;
}

nav a {
    font-weight: 800;
    padding: 15px 10px;
}


/* nav color when selected color*/

nav a,
nav a:visited {
    color: #fff;
}

nav a.selected,
nav a:hover {
    color: #e91e63;
}


/*******************
body 

*******************/


/* body color*/

body {
    background-color: #fff;
    color: #607d8b;
}


/*******************
Footer

*******************/

Footer {
    font-size: 0.75em;
    text-align: center;
    padding-top: 50px;
    clear: both;
}

.social_media {
    width: 20px;
    height: 20px;
    margin: 0 5px;
}


/*******************
Page : About 

*******************/

.Profile_pic {
    display: block;
    max-width: 150px;
    margin: 0 auto 30px;
    border-radius: 10%;
}


/*******************
Page : Service 

*******************/

#van {
    float: right;
    width: 60%;
}